In [1]:
import numpy as np
import pandas as pd

### thuc hien noi cac du lieu roi rac voi nhau
### phan nay mang tinh chat tuy bien nen kho doc hieu

In [2]:
# dc dataframe
df_old = pd.read_csv(r'D:\projects\python\data analyze\final_project\Data\Data_26-11.csv')
df_new = pd.read_csv(r'D:\projects\python\data analyze\final_project\Data\data28_11_chua_xu_li.csv')

In [ ]:
df_new['post_text'].to_list()

In [6]:
df_new[df_new['time']=='2023-11-25 23:22:01']

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,w3_fb_url,reactions,reaction_count,with,page_id,sharers,image_id,image_ids,was_live,fetched_time
30,912937063532016,KHOẢNH KHẮC SƠN TÙNG M-TP MỪNG SINH NHẬT LẦN T...,KHOẢNH KHẮC SƠN TÙNG M-TP MỪNG SINH NHẬT LẦN T...,NaN,NaN,2023-11-25 23:22:01,1700929321,NaN,https://scontent.fhan9-1.fna.fbcdn.net/v/t15.5...,[],...,https://www.facebook.com/daiphatthanh.sound/po...,"{'like': 6314, 'love': 4637, 'haha': 16, 'wow'...",11108,NaN,905871509607608,NaN,NaN,[],False,2023-11-28 12:34:18.969510

In [ ]:
df_new['reactors'].isna()

In [ ]:
# xóa từ bài ) đến bài 86 của đata cũ
# nối data mới vào data cũ đã được xóa bài trùng lặp .
ls = [] # luu index can xoa
for i in range(30,40):
    ls.append(i)
data = pd.DataFrame(data=df_new)
res = data.drop(ls,axis='index')
res

In [20]:
res[['post_id','text','post_text','time','timestamp','image_lowquality','images','images_description',
       'images_lowquality','images_lowquality_description','comments','shares',
       'post_url','links','user_id','username','user_url','is_live','available','comments_full',
       'reactors','w3_fb_url','reactions','reaction_count','page_id','image_ids',
       'was_live','fetched_time']].isna().value_counts()

post_id  text   post_text  time   timestamp  image_lowquality  images  images_description  images_lowquality  images_lowquality_description  comments  shares  post_url  links  user_id  username  user_url  is_live  available  comments_full  reactors  w3_fb_url  reactions  reaction_count  page_id  image_ids  was_live  fetched_time
False    False  False      False  False      False             False   False               False              False                          False     False   False     False  False    False     False     False    False      False          False     False      False      False           False    False      False     False           30
Name: count, dtype: int64

In [21]:
res.isna().value_counts()

post_id  text   post_text  shared_text  original_text  time   timestamp  image  image_lowquality  images  images_description  images_lowquality  images_lowquality_description  video  video_duration_seconds  video_height  video_id  video_quality  video_size_MB  video_thumbnail  video_watches  video_width  likes  comments  shares  post_url  link  links  user_id  username  user_url  is_live  factcheck  shared_post_id  shared_time  shared_user_id  shared_username  shared_post_url  available  comments_full  reactors  w3_fb_url  reactions  reaction_count  with  page_id  sharers  image_id  image_ids  was_live  fetched_time
False    False  False      True         True           False  False      False  False             False   False               False              False                          True   True                    True          True      True           True           True             True           True         False  False     False   False     True  False  False    False     False     False    True       True            True         True            True             True             False      False          False     False      False      False           True  False    True     True      False      False     False           12
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    False     False      False     False            9
                                                                         True   False             False   False               False              False                          False  True                    True          False     True           True           False            True           True         False  False     False   False     True  False  False    False     False     False    True       True            True         True            True             True             False      False          False     False      False      False           True  False    True     True      False      False     False            8
                                                                                                                                                                                True   True                    True          True      True           True           True             True           True         False  False     False   False     True  False  False    False     False     False    True       True            True         True            True             True             False      False          False     False      False      False           True  False    True     False     False      False     False            1
Name: count, dtype: int64

In [ ]:
res.head()

In [23]:
Concat_Data = pd.concat([res, df_old], axis=0,ignore_index=True)
Concat_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        205 non-null    int64
 1   text                           204 non-null    object
 2   post_text                      204 non-null    object
 3   shared_text                    0 non-null      float64
 4   original_text                  0 non-null      float64
 5   time                           205 non-null    object
 6   timestamp                      205 non-null    float64
 7   image                          146 non-null    object
 8   image_lowquality               205 non-null    object
 9   images                         205 non-null    object
 10  images_description             205 non-null    object
 11  images_lowquality              205 non-null    object
 12  images_lowquality_description  205 non-null    object
 13  video                          57 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       57 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                57 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          205 non-null    int64
 23  comments                       205 non-null    int64
 24  shares                         205 non-null    int64
 25  post_url                       205 non-null    object
 26  link                           0 non-null      float64
 27  links                          205 non-null    object
 28  user_id                        205 non-null    int64
 29  username                       205 non-null    object
 30  user_url                       205 non-null    object
 31  is_live                        205 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      205 non-null    bool
 39  comments_full                  205 non-null    object
 40  reactors                       205 non-null    object
 41  w3_fb_url                      205 non-null    object
 42  reactions                      205 non-null    object
 43  reaction_count                 205 non-null    int64
 44  with                           0 non-null      float64
 45  page_id                        205 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       84 non-null     float64
 48  image_ids                      205 non-null    object
 49  was_live                       205 non-null    bool
 50  fetched_time                   205 non-null    object
 51  video_ids                      20 non-null     object
 52  videos                         20 non-null     object
dtypes: bool(3), float64(20), int64(7), object(23)
memory usage: 80.8+ KB

In [ ]:
Concat_Data

In [ ]:
Concat_Data['reactions']

In [29]:
display(
    Concat_Data['reactions'].isna().value_counts(),
    Concat_Data['reactors'].isna().value_counts(),
    Concat_Data['comments'].isna().value_counts(),
    Concat_Data['comments_full'].isna().value_counts(),
    Concat_Data['reaction_count'].isna().value_counts(),
    Concat_Data['shares'].isna().value_counts(),
    Concat_Data['images_description'].isna().value_counts()
)

reactions
False    205
Name: count, dtype: int64

reactors
False    205
Name: count, dtype: int64

comments
False    205
Name: count, dtype: int64

comments_full
False    205
Name: count, dtype: int64

reaction_count
False    205
Name: count, dtype: int64

shares
False    205
Name: count, dtype: int64

images_description
False    205
Name: count, dtype: int64

In [32]:
FANPAGE_LINK ="Data_28-11"
FOLDER_PATH = r"Data/"
path=FOLDER_PATH + FANPAGE_LINK + ".csv"

In [33]:
Concat_Data.to_csv(path, index=False)
print(path)

Data/Data_28-11.csv